<div class="child">
  Label: <%= f.text_field(:label, :size => 25, :class=>"pf-field") %>
  Link: <%= f.text_field(:link, :size => 25, :class=>"pf-field") %>
  <%= remove_child_link2 'remove', f %>
</div>