<b>Afillated Organizations</b><br/><br/>
An organization not actively involved, but related to the project. 
Affiliated organizations are not included in the count of organizations involved.
<br/><br/>
Examples:
<br/>
<ul>
  <li>National Geographic - affiliated with National Geographic Photo Camp - but does not run it.</li>
  <li>A school let’s library representative run a Hear Me activity in a classroom while the teacher knits - this school will be an affiliated organization, since there was no active involvement on its part.</li> 
</ul>
(Can be more than one affiliation per event)