<style type="text/css">
	body,html{
	margin:0px;
	padding:20px;
	background:#ebe7dd;
	font-family:Helvetica, Arial, sans-serif;}     
</style>

<div>
	We're sorry, but it looks like your version of Internet Explorer is not compatible with our website. <br/>
	Please upgrade to the <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">latest version of Internet Explorer</a> or consider alternatives like <a href="http://www.google.com/chrome">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/">Firefox</a>.
</div>