<b>Actively Involved Organizations</b><br/><br/>
Plays the main role / a major role in this event.
Who's event is this? Who's behind the event? Who's making it happen?
Who will you call first if you had a question about this event?
<br/><br/>
(An event is an instance of engagement with <%= $organization_name %>.)
<br/><br/>
Examples:<br/>
<ul>
  <li>The organization actively implementing the event.</li>
  <li>The organization that coordinated and supported this event taking place.</li>
  <li>The school to which the educator actively delivering the activity belongs.</li>
</ul>
(Can be more than one organization per event)
