<b>Student Dialogues</b><br/><br/>
Does this project involve a dialogue with participants in another organization?
<br/><br/>
Examples:<br/>
<ul>
  <li>Gigapan dialogue - names of other schools involved in the dialogue.</li>
  <li>CanPals exchange - school/program the cans came from and where they are going to.</li>
</ul>
(Can be more than one Student Dialogues organization per event)
